@import 'vars';

@import 'bootstrap';
@import 'dynamic-properties';
@import 'fonts';
@import 'modal';
@import 'transitions';

:root {
  --real100Vh: 100vh;
  --dw: calc(100vw / #{$layout-width-desktop});
  --dh: calc(100vh / #{$layout-height-desktop});
  --mw: calc(100vw / #{$layout-width-mobile});
  --mh: calc(100vh / #{$layout-height-mobile});
}
